button{
    border-radius: 100%;
    color: blue;
    margin-top: 5px;
    margin-left: 3px;
    /* webkit-transition-duration: 0.4s;  */
    transition-duration: 0.4s;
    padding: 3px;
}
button:hover{
    background-color: #008CBA;
    color: white;
    cursor: pointer;
 }
#main {
    border: 3px solid blue;
    height: 600px;
    width: 280px;
    margin: auto ;
    border-radius: 20% 20% 30% 30%;
    background-color: dodgerblue;
}
#top{
    font-family: serif;
    font-size: 15px;
    margin-left:30px ;
}
#toprow{
    border: 2px solid brown;
    height: 40px;
    width: 110px;
    margin-top: -40px;
    margin-left: 119px;
    background-color: brown;
}
.screen{
    border: 2px solid dodgerblue;
    height: 120px;
    width: 250px;
    background: linear-gradient(to right, rgb(0, 153, 255), rgb(18, 41, 173));
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 25%;
}
#replay{
    border-radius: 50%;
    color: blue;
    height: 75px;
    width: 70px;
    margin-top: -32px;
    margin-left: 110px;
    /* webkit-transition-duration: 0.4s;  */
    transition-duration: 0.4s;
}
#replay:hover {
    background-color: #008CBA;
    color: white;
}
#mode{
    margin-top: -50px;
} 
